<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>新規登録</title>
</head>
<body>
 <%- include('partials/nav') %>

 <h1>新規登録</h1>

 <% if (error) { %>
   <p style="color: red;"><%= error %></p>
 <% } %>

 <form action="/signup" method="post">
  <input type="text" name="name" placeholder="名前" required><br>
  <input type="email" name="email" placeholder="keio.jpメールアドレス" required><br>
  <input type="password" name="password" placeholder="パスワード" required><br>
  <button type="submit">登録</button>
 </form>

 <p><a href="/login">ログインはこちら</a></p>

</body>
</html>
